body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.custom-file-upload {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.custom-file-upload:hover {
    background-color: #45a049;
}

.custom-file-upload:active {
    background-color: #3e8e41;
}

#fileInput {
    display: none;
    /* Hide the file input */
}

button[type="submit"] {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:active {
    background-color: #004280;
}

#output {
    margin-top: 20px;
    text-align: center;
}