body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #007bff;
}

.btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

#uploadBtn {
    background-color: #45a049;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:active {
    background-color: #004280;
}